<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/public/css/back.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	
</head>
<body>
<div id="wrapper">
    <!--Sidebar Menus-->
    {{> nav}}
    
    <!--Dynamic Content-->
    <div id="page-wrapper">
    {{{content}}}
    </div>
</div>

<!--main Scripts-->
<script src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>